@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';

@theme {
	--font-fraunces: 'Fraunces', sans-serif;
	--font-nunito: 'Nunito', sans-serif;
}

body {
	margin: 0;
	font-family: var(--font-nunito);
	color: #4b3b36;
}

button {
	cursor: pointer;
}
